{% extends "base.html" %}

{% block content %}
<div class='col-md-6 mx-auto text-center py-5'>
    <div class='py-5 my-5'>
<h1>Hell FastAPI 东海宽客</h1>
<h2>When you hear about artificial intelligence, stop imagining computers that can do everything we can do but better.

My colleague Cade Metz, who has a new book about A.I., wants us to understand that the technology is promising but has its downsides: It’s currently less capable than people, and it is being coded with human bias.

I spoke with Cade about what artificial intelligence is (and isn’t), areas where he’s hopeful and fearful of the consequences and areas where A.I. falls short of optimists’ hopes.

Shira: Let’s start with the basics: What is artificial intelligence?

Cade: It’s a term for a collection of concepts that allow computer systems to vaguely work like the brain. Some of my reporting and my book focus on one of those concepts: a neural network, which is a mathematical system that can analyze data and pinpoint patterns.</h1>
{% endblock %}